body, html {
    height: 100%;
    font-family: Times New Roman , sans-serif;
    background-color: #372323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Times New Roman , sans-serif;
}

.spinner-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

header {
    background-color: color(srgb 0.375 0.2119 0.2119);
    color: color(srgb 1 0.87 0.87);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.graph-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;

}

.content {
    background-color: color(display-p3 0.9804 0.8745 0.8745);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
}

h2 {
    color: #372323;
    margin-bottom: 20px;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    width: 50px;
    margin-top: 5px;
}

.x-button, .radius-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #874c4c;
    color: color(display-p3 0.9804 0.8745 0.8745);
    cursor: pointer;
    border-radius: 5px;
}

.x-button.selected, .radius-button.selected {
    background-color: #ec7779;
}

input[type="submit"] {
    padding: 15px 30px;
    background-color: color(srgb 0.9258 0.4653 0.4744);
    color: color(display-p3 0.9804 0.8745 0.8745);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.results-table {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.results-table th {
    background-color: color(srgb 0.5295 0.2986 0.3003);
    color: color(display-p3 0.9804 0.8745 0.8745);
}

td {
    text-align: center;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}