.header-satoru {
    color: black;
    height: 50px;
    width: 100%;
    top: 0;
    border: 2px white solid;
    background-color: beige;
    text-align: center;
    padding-left: 10px;
}

.header-sukuna {
    height: 50px;
    width: 100%;
    border: 2px solid black;
    top: 0;
    background-color: darkred;
    text-align: center;
    padding-left: 10px;
}