.main-page {
    gap: 20px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.header {
    background-color: aliceblue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    margin: 0;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.logout-button {
    display: flex;
    background-color: darkgrey;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: darkred;
}


.content {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
}


.input-section {
    flex: 1;
    max-width: 300px;
}

.input-section .input-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.input-form input,
.input-form select,
.submit-button {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: pink;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: deeppink;
}


.canvas-section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    border: 1px solid black;
}


.results-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.results-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    text-align: center;
}

.results-table th,
.results-table td {
    border: 1px solid black;
    padding: 10px;
}

.results-table th {
    background-color: beige;
}

/* Desktop  */
@media (min-width: 1207px) {
    .content {
        background-color: beige;
        flex-direction: column;
    }

    .input-section {
        max-width: 300px;
    }

    .canvas-section {
        background-color: beige;
        flex: 2;
    }

    .results-table-container {
        background-color: beige;
        height: auto;
    }
}

/* Tablet */
@media (min-width: 756px) and (max-width: 1206px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    select {
        max-width: 150px;
    }
    .input-section {
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;
    }

    .canvas-section {
        width: 100%;
        max-width: 500px;
    }

    .results-table-container {
        margin-top: 20px;
    }
}

/* Mobile */
@media (max-width: 755px) {
    .header h1 {
        font-size: 18px;
    }

    .logout-button {
        padding: 8px 12px;
        font-size: 14px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .input-section {
        width: 100%;
    }

    .canvas-section {
        width: 100%;
        margin: 10px 0;
    }

    .results-table-container {
        width: 100%;
    }

    .results-table {
        width: 100%;
    }
    select {
        max-width: 150px;

    }
}
